.giftbox-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.giftbox-popup-main-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 960px;
    height: 540px;
}

@keyframes GiftboxAnimationOpen {
    from { background-position: 0px; }
    to { background-position: -18240px; }
}

@keyframes GiftboxAnimationRepeat {
    from { background-position: -18240px; }
    to { background-position: -30720px; }
}

.giftbox-popup-main-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 
        GiftboxAnimationOpen 2s steps(19) forwards, 
        GiftboxAnimationRepeat 2s steps(13) infinite 2s;
    background-image: url("../../images/animations/giftbox.png");
    background-size: cover;
    user-select: none;
}

.giftbox-popup-confirm-button {
    position: absolute;
    top: 82%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.giftbox-popup-amount-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    margin: 0px;
    width: 80%;
    height: 18px;
    font-family: "Allerta";
    color: black;
    user-select: none;
}

.giftbox-popup-amount-input {
    position: absolute;
    background: none; 
    border: none;     
    outline: none;    
    color: grey;      
    text-align: left;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 25px;
    user-select: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}