.upload-meme-help-popup-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
}

.upload-meme-help-popup-mask {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	user-select: none;
}

.upload-meme-help-popup-main-container {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	width: 500px;
	height: 298px;
}

.upload-meme-help-popup-main-background {
	width: 100%;
	height: 100%;
	user-select: none;
}

.upload-meme-help-popup-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	text-align: center;
	line-height: 18px;
	margin: 0px;
	width: 80%;
	height: 50%;
	color: white;
	font-family: "allerta";
	user-select: none;
}

.upload-meme-help-popup-confirm-button {
	position: absolute;
	height: 10%;
	width: auto;
	aspect-ratio: 142 / 42;
	top: 88%;
	left: 50%;
	transform: translate(-50%, -50%);
}