.top-menu-container{
    position: absolute;
    width: 100%;
    height: 49px;
}

.top-menu-background{
    position: absolute;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-image: url('./images/header_bg.png');
    background-repeat: repeat-x;
}

.top-menu-withdraw{
    position: absolute;
    top: 2%;
    right: 5%;
}

.top-menu-balance {
    position: absolute;
    top: 2%;
    right: 5%;
  }