
.stage-buttons-container {
    position: absolute;
    width: 320px;
    height: 60px;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stage-buttons-vote-container, .stage-buttons-stake-container, .stage-buttons-collect-container, .stage-buttons-comment-container{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.stage-buttons-vote-container{
    left: 20%;
}

.stage-buttons-stake-container{
    left: 40%;
}

.stage-buttons-collect-container{
    left: 60%;
}

.stage-buttons-comment-container{
    left: 80%;
}