div.loading {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color:white;
    cursor: pointer;
    div {
        background-size: cover;
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}
